<mat-toolbar color="primary">
    <a mat-icon-button href="">
        <mat-icon>home</mat-icon>
    </a>
    <span [style.font-size.px]="30">Administration</span>
</mat-toolbar>

<section>
    <mat-tab-group backgroundColor="primary" mat-stretch-tabs>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">book</mat-icon>
                Dictionnaires
            </ng-template>
            <div class="tab-content">
                <h1>Options de dictionnaires</h1>
                <p>Ajouter ou supprimer des dictionnaires dans le jeu</p>
                <mat-divider></mat-divider>
                <h2>Gérer les dictionnaires existants</h2>
                <mat-form-field appearance="fill">
                    <mat-select [(value)]="selectedDico">
                        <mat-option value="Dictionnaire par défaut">Dictionnaire par defaut</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Nom du dictionnaire</mat-label>
                    <input matInput placeholder="Dictionnaire par défaut" />
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Description du dictionnaire</mat-label>
                    <textarea matInput placeholder="Ex. Dictionnaire par défaut"></textarea>
                </mat-form-field>
                <button mat-stroked-button>
                    Accepter les changements
                    <mat-icon>save</mat-icon>
                </button>
                <mat-divider></mat-divider>
                <h2>Téléverser un nouveau dictionnaire</h2>
                <p></p>
                <input type="file" />
            </div>
        </mat-tab>

        <mat-tab label="Joueurs virtuels">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">android</mat-icon>
                Joueurs virtuels
            </ng-template>
            <div class="tab-content">
                <h1>Noms de joueurs virtuels</h1>
                <p>Ajouter ou supprimer des noms de joueurs virtuels</p>
                <mat-slide-toggle (click)="changeType()">{{ virtualPlayer }}</mat-slide-toggle>
                <button mat-stroked-button>
                    Ajouter un joueur virtuel
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-tab>

        <mat-tab label="Réinitialisation">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">restore</mat-icon>
                Réinitialisation
            </ng-template>
            <div class="tab-content">
                <h1>Réinitialisation des réglages</h1>
                <p>
                    Attention: Cette option supprime tout ce qui a été ajouté. Cela inclue les dictionnaires, les noms de joueurs virtuels, les
                    meilleurs scores et l'historique des parties jouées.
                </p>
                <button mat-stroked-button>
                    Réinitialer les réglages
                    <mat-icon color="warn">warning</mat-icon>
                </button>
            </div>
        </mat-tab>
    </mat-tab-group>
</section>
