.center {
    text-align: center;
}

.right {
    text-align: right;
}

.button {
    background-color: #23501f; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    border: 1px solid black;
    border-color: black;
}

.button:hover {
    transform: translateY(-1px);
    background-color: #324d2f;
    cursor: pointer;
}

.dialog {
    height: 80%;
}
