<div class="right">
    <button mat-button (click)="onCancel()">X</button>
</div>
<div class="center" mat-dialog-title>Paramètres de la partie</div>
<div mat-dialog-content>
    <mat-divider></mat-divider>
    <div>
        <h2>Nom du joueur :</h2>
        <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="Joueur #1" />
        </mat-form-field>
        <h2>Minuterie</h2>
        <mat-form-field>
            <mat-select placeholder="Temps">
                <mat-option [(ngModel)]="time" value="1">1</mat-option>
            </mat-select>
        </mat-form-field>
        <h2>Dictionnaire:</h2>
        <mat-form-field>
            <mat-select placeholder="Choisir un dictionnaire">
                <!-- <mat-option *ngFor="let options of options" [value]="options">
                    {{ options }}
                </mat-option> -->
                <mat-option [(ngModel)]="options" value="dico">Dictionnaire par défaut</mat-option>
                <mat-option value="autre" disabled>Dictionnaire 2 (Indisponible)</mat-option>
            </mat-select>
        </mat-form-field>
        <div mat-dialog-actions>
            <button class="button" routerLink="/waiting" mat-button [disabled]="!name" [mat-dialog-close]="name" cdkFocusInitial>Confirmer</button>
            <!-- [disabled]="!data.name" , formIsValid-->
            <button class="button" (click)="save()">Save</button>
        </div>
    </div>
</div>
