<div class="right">
    <button mat-button (click)="onCancel()">X</button>
</div>
<div mat-dialog-title class="center"><u>Paramètres de la partie</u></div>
<div mat-dialog-content [formGroup]="form">
    <mat-divider></mat-divider>
    <div>
        <h2>Nom du joueur :</h2>
        <form [formGroup]="form">
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeHolder="Votre nom" formControlName="name" />
                    <mat-hint align="end">Minimum 3 lettres</mat-hint>
                    <mat-error *ngIf="myError('name', 'required')">Veuillez entrer un nom</mat-error>
                    <mat-error *ngIf="myError('name', 'minLength')">Veuillez entrer un nom d'au moins 3 lettre</mat-error>
                    <mat-error *ngIf="myError('name', 'pattern')">Pas de chiffres et/ou caractères spéciaux</mat-error>
                </mat-form-field>
            </mat-card-content>

            <h2>Minuterie</h2>
            <mat-form-field>
                <mat-select [(ngModel)]="selectedTime" placeholder="Temps">
                    <mat-option value="time">1</mat-option>
                </mat-select>
            </mat-form-field>
            <h2>Dictionnaire:</h2>
            <mat-form-field>
                <mat-select formControlName="time" placeholder="Choisir un dictionnaire">
                    <mat-option value="Dictionnaire par defaut">Dictionnaire par défaut</mat-option>
                    <mat-option value="Dictionnaire 2" disabled>Dictionnaire 2 (Indisponible)</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions>
        <button class="button" routerLink="/waiting" mat-button [disabled]="form.invalid" [mat-dialog-close] cdkFocusInitial>Confirmer</button>
    </div>
</div>

<!-- 
        <h2>Nom du joueur :</h2>
        <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="Joueur #1" />
        </mat-form-field>
        <h2>Minuterie</h2>
        <mat-form-field>
            <mat-select [(value)]="selectedTime" placeholder="Temps">
                <mat-option value="oneMin">1</mat-option>
            </mat-select>
        </mat-form-field>
        <h2>Dictionnaire:</h2>
        <mat-form-field>
            <mat-select [(value)]="selectedDico" placeholder="Choisir un dictionnaire">
                < <mat-option *ngFor="let options of options" [value]="options">
                    {{ options }}
                </mat-option> -->
<!-- [(ngModel)]="options" -->
<!-- <mat-option value="dico">Dictionnaire par défaut</mat-option>
                <mat-option value="autre" disabled>Dictionnaire 2 (Indisponible)</mat-option>
            </mat-select>
        </mat-form-field>
        <div mat-dialog-actions>
            <button class="button" routerLink="/waiting" mat-button [disabled]="!name" [mat-dialog-close]="name" cdkFocusInitial>Confirmer</button>
            <-- [disabled]="!data.name" , formIsValid-->
<!-- <button class="button" (click)="save()">Save</button> -->
<!-- </div>
    </div>
</div> -->
