.tile {
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: #f7d8b5;
    display: grid;
    grid-template-rows: 20px 10px;
}

#value {
    display: flex;
    font-family: 'Courier New';
    font-weight: bold;
    position: relative;
    justify-content: right;
    right: 2px;
}

#letter {
    font-family: 'Courier New';
    font-weight: bold;
    position: relative;
    top: 5px;
    left: 15px;
}

.tileEmpty {
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    display: grid;
    grid-template-rows: 20px 10px;
}

.tileEmptyHorizontal {
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    display: grid;
    grid-template-rows: 20px 10px;
    box-shadow: inset 0 0 0 3px red;
}

#arrow-right::after {
    z-index: 1;
    position: relative;
    content: '⌵';
    transform: rotate(-90deg);
    height: 50px;
    width: 50px;
    text-align: center;
    left: 20%;
    font-size: 250%;
}

.tileEmptyVertical {
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    display: grid;
    grid-template-rows: 20px 10px;
    box-shadow: inset 0 0 0 3px green;
}

#arrow-down::after {
    z-index: 1;
    position: relative;
    content: '⌵';
    height: 50px;
    width: 50px;
    text-align: center;
    top: 50%;
    font-size: 250%;
}

.tileBlankLetter {
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: #f7d8b5;
    display: grid;
    grid-template-rows: 20px 10px;
    color: firebrick;
}

.selected {
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: #f7d8b5;
    display: grid;
    grid-template-rows: 20px 10px;
    box-shadow: inset 0 0 0 3px red;
}

.selected-reserve {
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    background-color: #f7d8b5;
    display: grid;
    grid-template-rows: 20px 10px;
    box-shadow: inset 0 0 0 3px blueviolet;
}
