<div id="info-board">
    <div id="player-info">
        <div class="player" id="player-1">
            <div class="player-name">Player 1</div>
            <div class="score">Score : 00</div>
            <p class="letters-left">X lettre(s) restante(s)</p>
        </div>
        <div class="player">
            <div class="player-name">Player 2</div>
            <div class="score">Score : 00</div>
            <p class="letters-left">X lettre(s) restante(s)</p>
        </div>
    </div>
    <div id="reserve">
        <div id="reserve-left">X lettre(s) restante(s) dans la réserve</div>
        <div id="timer">{{ 60 | formatTime }}</div>
    </div>
</div>
