<mat-card class="player-card">
    <div class="dot {{ this.chatService.player1Turn }}">
        <mat-icon>person</mat-icon>
    </div>
    <div class="content">
        <mat-card-title class="{{ this.chatService.player1Turn }}">{{ this.chatService.player1Username }}</mat-card-title>
        <mat-card-content>
            <p *ngIf="this.chatService.player1ChevaletLetters < 7" class="letters-left">
                {{ this.chatService.player1ChevaletLetters }} lettre(s) restante(s)
            </p>
            <div class="score">Score : {{ this.chatService.player1Point }}</div>
        </mat-card-content>
    </div>
</mat-card>
<mat-card class="player-card">
    <div class="dot {{ this.chatService.player2Turn }}">
        <mat-icon>person</mat-icon>
    </div>
    <div class="content">
        <mat-card-title class="{{ this.chatService.player2Turn }}">{{ this.chatService.player2Username }}</mat-card-title>
        <mat-card-content>
            <p *ngIf="this.chatService.player2ChevaletLetters < 7" class="letters-left">
                {{ this.chatService.player2ChevaletLetters }} lettre(s) restante(s)
            </p>
            <div class="score">Score : {{ this.chatService.player2Point }}</div>
        </mat-card-content>
    </div>
</mat-card>
<mat-card>
    <mat-card-title id="timer">{{ this.chatService.timer | formatTime }}</mat-card-title>
    <mat-card-content>
        {{ this.chatService.reserve }} lettre(s) restante(s) dans la réserve
        <div *ngIf="this.chatService.gameOver && this.chatService.winner === 'tie'" class="winner">La partie s'est terminé en égalité</div>
        <div *ngIf="this.chatService.gameOver && this.chatService.winner !== 'tie'" class="winner">
            {{ this.chatService.winner }} a gagné la partie FÉLICITATION
        </div>
    </mat-card-content>
</mat-card>
