.letters-left {
    text-align: center;
}

.tour {
    color: green;
    font-weight: bold;
}

.winner {
    color: red;
    font-weight: bold;
    font-size: 5rm;
    position: relative;
    top: 100 rem;
}

.player-card {
    display: flex;
    width: 300px;
    height: 75px;
    margin-bottom: 3%;
    align-items: center;
}

#timer {
    margin-top: 2%;
    font-size: 40px;
    padding-bottom: 7px;
}

.dot {
    height: 35px;
    width: 35px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    left: 10px;
    top: 22%;
    display: block;
}
