<div class="container">
    <app-communication-area></app-communication-area>
    <div id="buttons">
        <button mat-fab color="accent" matTooltip="Quitter la partie" matTooltipPosition="right" id="tooltip" (click)="openDialog()">
            <mat-icon style="transform: rotate(180deg)">exit_to_app</mat-icon>
        </button>
        <button mat-fab color="primary" matTooltip="Passer son tour" matTooltipPosition="right" (click)="this.chatService.passerTour()">
            <mat-icon>skip_next</mat-icon>
        </button>
    </div>
    <div>
        <div class="row-numbers">
            <p class="number-text" *ngFor="let number of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]">{{ number }}</p>
        </div>
        <div class="wrapper">
            <div class="col-letters">
                <p class="letters-text" *ngFor="let letter of ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O']">
                    {{ letter }}
                </p>
            </div>
            <section class="play-area-container">
                <app-play-area class="play-area" tabindex="0"></app-play-area>
            </section>
        </div>
    </div>
    <app-information-board></app-information-board>
</div>
