<div class="container">
    <div class="left-side-container">
        <app-information-board></app-information-board>
        <app-communication-area></app-communication-area>
    </div>
    <div id="buttons">
        <button mat-fab color="accent" matTooltip="Quitter la partie" matTooltipPosition="right" id="tooltip" (click)="openDialog()">
            <mat-icon style="transform: rotate(180deg)">exit_to_app</mat-icon>
        </button>
        <button
            mat-fab
            color="primary"
            [disabled]="!this.clientSocketHandler.myTurn"
            matTooltip="Passer son tour"
            matTooltipPosition="right"
            (click)="this.clientSocketHandler.passerTour()"
        >
            <mat-icon>skip_next</mat-icon>
        </button>
    </div>
    <div>
        <div class="row-numbers">
            <p class="number-text" *ngFor="let number of numbers">{{ number }}</p>
        </div>
        <div class="wrapper">
            <div class="col-letters">
                <p class="letters-text" *ngFor="let letter of letters">
                    {{ letter }}
                </p>
            </div>
            <section class="play-area-container">
                <app-play-area class="play-area" tabindex="0"></app-play-area>
            </section>
        </div>
    </div>
    <div>
        <app-goals *ngIf="this.clientSocketHandler.goals"></app-goals>
    </div>
</div>
