.container {
    height: 100%;
    display: flex;
}

.play-area-container {
    position: absolute;
    overflow: auto;
    flex: 1 1 auto;
    left: 500px;
    top: 50px;
}

.play-area {
    display: grid;
    width: min-content;
    outline: none;
}
