<div class="container justified">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    <section id="server-message">
        <div class="justified">
            <!-- <button class="button" (click)="getMessagesFromServer()">Récupérer un message du serveur</button>
            <button class="button" (click)="sendTimeToServer()">Envoyer un message au serveur</button>
            <button class="button" routerLink="/material">Voir la page démo Angular Material</button>
            <button class="button" routerLink="/test">test</button> -->
            <app-button name="Scrabble Classique" routing="/game"></app-button>
            <app-button name="Scrabble LOG2990" routing="/material"></app-button>
            <app-button name="Meilleur Score " routing="/bonsoir"></app-button>
        </div>
    </section>

   

    <app-footer></app-footer>
</div>
