<div class="container justified">
    <h1 class="header-item">Bienvenue au cours {{ title }}</h1>
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    <section id="server-message">
        <p>Petit message du serveur : {{ message.getValue() }}</p>
        <div class="justified">
            <button class="button" (click)="getMessagesFromServer()">Récupérer un message du serveur</button>
            <button class="button" (click)="sendTimeToServer()">Envoyer un message au serveur</button>
            <button class="button" routerLink="/material">Voir la page démo Angular Material</button>
        </div>
    </section>

    <button class="button" routerLink="/game">Jouer!</button>

    <div class="footer-item">
        <h4 class="team-name">Équipe 211</h4>
        <p>
            <span>Richard Tham, 2078199</span>, <span>Felix Lamoureux, 2082464</span>, <span>Ian Alexis, 2065566</span>,
            <span>Riad Mefti, 2083421</span>,
            <span>David Ringuet, 2075736</span>
        </p>
    </div>
</div>
