.container {
    min-height: 100vh;
    height: auto;
    margin-top: 20rm;
    background-color: #d2b48c;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    padding: 15px 30px;
    text-align: center;
    font-size: 250%;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    width: 25rem;
    border-radius: 15px;
}

h2 {
    font-family: 'Lucida Handwriting';
    margin-bottom: 10rem;
    font-size: 700%;
}
