<div class="container">
    <div class="messageContainer">
        <ul id="serverBroadcastList">
            <ng-container *ngFor="let m of this.clientSocketHandler.roomMessages">
                <li *ngIf="m.username !== ''" class="{{ m.player }}">{{ m.username }}: {{ m.message }}</li>
                <li *ngIf="m.username === '' && m.message !== '\n' && m.message[0] !== '!'">{{ m.message }}</li>
                <li *ngIf="m.username === '' && m.message[0] === '!'" class="bold">{{ m.message }}</li>
                <li *ngIf="m.username === '' && m.message === '\n'" class="empty"></li>
            </ng-container>
        </ul>
    </div>

    <section class="inputMessage">
        <input
            id="broadcastMessage"
            [(ngModel)]="this.clientSocketHandler.roomMessage"
            (keydown.enter)="this.clientSocketHandler.sendToRoom()"
            type="text"
        />
    </section>
</div>
