.container {
    width: 300px;
    height: 50%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    top: 10%;
    background-color: white;
}

#serverBroadcastList {
    list-style-type: none;
    padding-left: 0%;
}

.messageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}

.messageContainer::-webkit-scrollbar-track {
    background-color: rgb(218, 210, 210);
}

.messageContainer::-webkit-scrollbar {
    width: 5px;
}

.messageContainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #737272;
    border: 1px solid #000;
}

#broadcastMessage {
    width: 100%;

    margin-bottom: 0.25rem;
}

.messageContainer {
    word-wrap: break-word;
}

.inputMessage {
    display: flex;
    justify-content: center;
}

.player1 {
    color: red;
}

.player2 {
    color: blue;
}
.sa {
    color: red;
}
