<div class="dialog-container-custom">
    <div class="container">
        <h1 class="title">Meilleur Scores</h1>
        <button mat-button (click)="goHome()" class="button">x</button>
    </div>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Scrabble Classique">
            <mat-table #table [dataSource]="this.chatService.bestClassiqueScores">
                <ng-container matColumnDef="score">
                    <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.score }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.player }} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </mat-tab>
        <mat-tab label="Scrabble LOG2990">
            <mat-table #table [dataSource]="this.chatService.bestClassiqueScores">
                <ng-container matColumnDef="score">
                    <mat-header-cell *matHeaderCellDef> Score </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.score }} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> Nom </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.player }} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </mat-tab>
    </mat-tab-group>
</div>
