#tile-holder {
    margin-top: 0px;
    margin-left: 125px;
    height: 80px;
    width: 500px;
    border-radius: 15px;
    background-color: #9a7b4f;
    border-style: solid;
    border-color: #795c34;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

button {
    position: relative;
    left: 40%;
}

div:focus {
    box-shadow: 0 0 0 rgb(255, 255, 255);
}
