#tile-holder {
    margin-top: 15px;
    margin-left: 50px;
    height: 75px;
    width: 400px;
    border-radius: 15px;
    background-color: #9a7b4f;
    border-style: solid;
    border-color: #795c34;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
