<div id="tile-holder" tabindex="0" (blur)="clickOut()">
    <app-tile
        *ngFor="let tile of this.tileHolderService.tileHolder"
        [letter]="tile.letter"
        [value]="tile.value"
        (click)="addId($event)"
        (contextmenu)="addExchangeId($event)"
    ></app-tile>
</div>
<button *ngIf="showButtonsBool" mat-button color="warn" tabindex="0" focus (mousedown)="clearExchangeId($event)">Annuler</button>
<button *ngIf="showButtonsBool" mat-button color="primary" tabindex="0" focus (mousedown)="exchange()" cdkFocusInitial>Échanger</button>
