#tile-holder {
    margin-top: 25px;
    margin-left: 50px;
    height: 75px;
    width: 400px;
    border-radius: 15px;
    background-color: #9a7b4f;
    border-style: solid;
    border-color: #795c34;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* button:hover {
    background-color: #80808030;
}

#size-change-wrapper {
    gap: 5px;
    display: flex;
    margin-top: 10px;
    margin-left: 147px;
}

.size-change {
    height: 25px;
    width: 25px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #00000000;
} */
