<!-- <div class="loading-screen-wrapper">
    *ngIf="loading">
    <div class="loading-screen-icon">Loading...</div>
</div> -->
<!-- <span *ngIf="animal">
    You choose: <i>{{animal}}</i>
<span> -->
<!-- <div class="loader" *ngIf="!dialogShown">
    <svg viewBox="0 0 120 120" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g>
            <circle class="point one" cx="45" cy="70" r="5" />
            <circle class="point two" cx="60" cy="70" r="5" />
            <circle class="point three" cx="75" cy="70" r="5" />
        </g>
    </svg>
</div> -->
<div class="container justified">
    <h2>En attente d'un adversaire...</h2>
    <mat-spinner></mat-spinner>
    <section id="server-message">
        <div class="justified">
            <button id="test" (click)="openDialog()">Test</button>
            <button mat-raised-button color="primary" ngClass="retour" routerLink="/classic">Annuler</button>
        </div>
    </section>
</div>
