.goal {
    display: flex;
    width: 400px;
    height: 75px;
    margin-bottom: 3%;
    top: 150px;
    left: 150px;
    align-items: center;
}

.false {
    color: red;
}

.true {
    color: green;
}
