#canvas {
    border: 3px solid black;
    z-index: -3;
    position: absolute;
}

#grid-container {
    display: contents;
}

#container {
    display: flex;
}

button {
    width: fit-content;
}

app-size-selector {
    width: fit-content;
    position: relative;
    left: 78%;
    top: 15%;
}
