<div class="container justified">
    <a mat-fab color="primary" matTooltip="Retourner à la page d'accueil" matTooltipPosition="right" id="tooltip" href="">
        <mat-icon style="transform: rotate(180deg)">exit_to_app</mat-icon>
    </a>
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Partie solo">
            <mat-dialog-content [formGroup]="form" class="dialog">
                <div>
                    <form [formGroup]="form">
                        <mat-card-content>
                            <h2>Nom des joueurs :</h2>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label>Joueur 1</mat-label>
                                    <input
                                        matInput
                                        [(ngModel)]="this.name"
                                        [errorStateMatcher]="matcher"
                                        placeholder="Votre nom"
                                        formControlName="name"
                                        required
                                    />
                                    <mat-hint align="end">Minimum 3 lettres</mat-hint>
                                    <mat-error *ngIf="myError('name', 'required')">Veuillez entrer un nom</mat-error>
                                    <mat-error *ngIf="myError('name', 'minLength')">Veuillez entrer un nom d'au moins 3 lettre</mat-error>
                                    <mat-error *ngIf="myError('name', 'pattern')">Pas de chiffres et/ou caractères spéciaux</mat-error>
                                </mat-form-field>
                            </td>
                            <td>
                                <mat-form-field appearance="fill">
                                    <mat-label>Joueur 2</mat-label>
                                    <input matInput disabled value="Random name" />
                                </mat-form-field>
                            </td>
                        </mat-card-content>
                        <h2>Minuterie</h2>
                        <mat-form-field class="center">
                            <mat-select [(value)]="selectedTime" placeholder="Temps (minutes)">
                                <mat-option *ngFor="let timer of time" [value]="timer.value">
                                    {{ timer.text }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <h2>Dictionnaire et niveau du joueur virtuel:</h2>
                        <td>
                            <mat-form-field>
                                <mat-select [(value)]="selectedDico" placeholder="Choisir un dictionnaire">
                                    <mat-option value="Dictionnaire par defaut">Dictionnaire par defaut</mat-option>
                                    <mat-option value="Dictionnaire 2" disabled>Dictionnaire 2 (Indisponible)</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                        <td>
                            <mat-form-field>
                                <mat-select [(value)]="selectedPlayer" placeholder="Difficulté du joueur virtuel :">
                                    <mat-option *ngFor="let player of botType" [value]="player.value">
                                        {{ player.value }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </form>
                    <div mat-dialog-actions id="confirm-button">
                        <button
                            (click)="createSoloGame()"
                            mat-raised-button
                            color="primary"
                            [mat-dialog-close]
                            cdkFocusInitial
                            mat-dialog-close="true"
                            [disabled]="form.invalid"
                        >
                            Confirmer
                        </button>
                    </div>
                </div>
            </mat-dialog-content>
        </mat-tab>
        <mat-tab label="Créer une partie multijoueur">
            <mat-dialog-content [formGroup]="form" class="dialog">
                <div>
                    <form [formGroup]="form">
                        <mat-card-content>
                            <h2>Nom du joueur :</h2>
                            <mat-form-field appearance="fill">
                                <mat-label>Joueur 1</mat-label>
                                <input
                                    matInput
                                    [(ngModel)]="this.name"
                                    [errorStateMatcher]="matcher"
                                    placeHolder="Votre nom"
                                    formControlName="name"
                                    required
                                />
                                <mat-hint align="end">Minimum 3 lettres</mat-hint>
                                <mat-error *ngIf="myError('name', 'required')">Veuillez entrer un nom</mat-error>
                                <mat-error *ngIf="myError('name', 'minLength')">Veuillez entrer un nom d'au moins 3 lettre</mat-error>
                                <mat-error *ngIf="myError('name', 'pattern')">Pas de chiffres et/ou caractères spéciaux</mat-error>
                            </mat-form-field>
                        </mat-card-content>
                        <h2>Minuterie</h2>
                        <mat-form-field>
                            <mat-select [(value)]="selectedTime" placeholder="Temps (minutes)">
                                <mat-option *ngFor="let timer of time" [value]="timer.value">
                                    {{ timer.text }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <h2>Dictionnaire:</h2>
                        <mat-form-field>
                            <mat-select [(value)]="selectedDico" placeholder="Choisir un dictionnaire">
                                <mat-option value="Dictionnaire par defaut">Dictionnaire par defaut</mat-option>
                                <mat-option value="Dictionnaire 2" disabled>Dictionnaire 2 (Indisponible)</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </form>
                    <div mat-dialog-actions id="confirm-button">
                        <button mat-raised-button color="primary" [disabled]="form.invalid" [mat-dialog-close] cdkFocusInitial (click)="createRoom()">
                            Confirmer
                        </button>
                    </div>
                </div>
            </mat-dialog-content>
        </mat-tab>
        <mat-tab label="Joindre une partie">
            <mat-toolbar>
                <marquee direction="left">
                    Ici se trouve la liste des salles disponibles. S'il n'y a pas de salles affichées, veuillez attendre qu'une salle se crée ou allez
                    créer une partie multijoueur pour que quelqu'un vous rejoigne.
                </marquee>
            </mat-toolbar>
            <div>
                <div *ngIf="this.clientSocketHandler.numberOfRooms !== 0" class="spaceButton">
                    <button mat-raised-button color="primary" [disabled]="this.clientSocketHandler.numberOfRooms === 1" (click)="randomJoin()">
                        Placement aléatoire
                    </button>
                </div>

                <mat-accordion *ngFor="let room of this.clientSocketHandler.allRooms" multi>
                    <div *ngIf="room.player2 === ''">
                        <mat-expansion-panel [expanded]="selectedRoomName === room.player1">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <mat-icon>people</mat-icon>
                                    {{ room.player1 }}
                                </mat-panel-title>
                                <mat-panel-description> Nom utilisateur </mat-panel-description>
                            </mat-expansion-panel-header>
                            <h3>Détails de la salle:</h3>
                            <p>Nom de l'adversaire: {{ room.player1 }}</p>
                            <p>Durée des tours: {{ +room.time | formatTime }} minutes</p>
                            <p>Mode de jeu: classique</p>
                            <p>Dictionnaire: classique</p>

                            <mat-card id="card">
                                <form [formGroup]="form">
                                    <mat-form-field appearance="fill">
                                        <input
                                            matInput
                                            [(ngModel)]="this.name"
                                            [errorStateMatcher]="matcher"
                                            placeHolder="Votre nom"
                                            formControlName="name"
                                            required
                                        />
                                        <mat-hint align="end">Minimum 3 lettres</mat-hint>
                                        <mat-error *ngIf="myError('name', 'required')">Veuillez entrer un nom</mat-error>
                                        <mat-error *ngIf="myError('name', 'minLength')">Veuillez entrer un nom d'au moins 3 lettres</mat-error>
                                        <mat-error *ngIf="myError('name', 'pattern')">Pas de chiffres et/ou caractères spéciaux</mat-error>
                                    </mat-form-field>
                                </form>
                                <p><b>Choisir un nom différent que celui du joueur 1</b></p>
                                <button
                                    (click)="this.clientSocketHandler.askJoin(this.name, room)"
                                    (click)="openWaitToJoin()"
                                    mat-raised-button
                                    color="primary"
                                    [disabled]="form.invalid || this.name === room.player1"
                                    [mat-dialog-close]
                                    cdkFocusInitial
                                    mat-dialog-close="true"
                                >
                                    Rejoindre
                                </button>
                            </mat-card>
                        </mat-expansion-panel>
                    </div>
                </mat-accordion>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
